<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
  <!--    Start of JS connection-->
  <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
  <script src="../static/bootstrap/js/popper.min.js"></script>
  <script src="../static/bootstrap/js/bootstrap.js"></script>
  <!--    End of JS connection-->
  <!--    Start of css connection-->
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/bootstrap/css/custom.css">
  <!--    End of css connection-->
</head>
<body>
<div class="y bg-light">
  <!--Start of navigation -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Bloom</a>

  <!-- Links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link " href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Services</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="#">Portfolio</a>
    </li>
      <li class="nav-item">
      <a class="nav-link " href="#">Contact us</a>
    </li>
  </ul>
</nav>
<!--End of navigation-->
<div class="y row">
    <div class="col-md-5">
        <h2>Lorem ipsum dolor it amet</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda autem corporis es
            t ipsam odio temporibus ullam? Aliquid aut commodi culpa hic id in, inventore nemo provident quas similique voluptatibus!</p>
         <button class="text-white bg-warning border-0">Learn more</button>
    </div>
    <div class="col-md-7">

        <img src="../static/images/dishes.jpg" class="a mx-auto pr-4 pt-5" alt="Dishes">
    </div>

</div>

<div class="y row">
    <div class="col-md-4">
        <img src="../static/images/black.jpg" class="x" alt="Black">
        <h2>Aliquam et iauculis sapien</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, assumenda at autem consequatur culpa delectus doloribus eligendi id labore minus nihil
            nulla numquam quisquam recusandae similique totam velit voluptas voluptatem!</p>
         <button class="text-white bg-warning border-0">Learn more</button>
    </div>
    <div class="col-md-4">
         <img src="../static/images/black.jpg" class="x" alt="Black">
        <h2>Aliquam et iauculis sapien</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, assumenda at autem consequatur culpa delectus doloribus eligendi id labore minus nihil
            nulla numquam quisquam recusandae similique totam velit voluptas voluptatem!</p>
         <button class="text-white bg-warning border-0">Learn more</button>
    </div>
    <div class="col-md-4">
         <img src="../static/images/black.jpg" class="x" alt="Black">
        <h2>Aliquam et iauculis sapien</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, assumenda at autem consequatur culpa delectus doloribus eligendi id labore minus nihil
            nulla numquam quisquam recusandae similique totam velit voluptas voluptatem!</p>
         <button class="text-white bg-warning border-0">Learn more</button>
    </div>
</div>
<div class="y row bg-dark">
    <div class="row col-md-4">
        <div class="col-md-2">
            <img src="../static/images/july%2028.jpg" class="c p-2" alt="July 28">
            <img src="../static/images/july%2028.jpg" class="c p-2" alt="July 28">
             <img src="../static/images/july%2028.jpg" class="c p-2" alt="July 28">
        </div>
        <div class="col-md-6">
            <h6 class="text-white">lorem ipsum dolor it amet</h6>
            <h6 class="text-white">lorem ipsum dolor it amet</h6>
            <h6 class="text-white">lorem ipsum dolor it amet</h6>
            <h6 class="text-white">lorem ipsum dolor it amet</h6>
        </div>
    </div>
    <div class="col-md-4">
        <h2 class="text-left text-white pt-5">About</h2>
        <p class="text-left text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis natus numquam possimus quisquam quo
             Dicta dolores iure minus placeat quasi tempore temporibus totam?</p>
        <p class="text-left text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam aliquid, atque beatae dolores ducimus ex illo maiores maxime
            molet voluptate?</p>
    </div>
    <div class="row col-md-4">
        <div class="col-md-2">
            <img src="../static/images/facebook%20icon.jpg" class="b p-2" alt="Facebook">
            <img src="../static/images/twitter.jpg" class="b p-2" alt="Twitter">
            <img src="../static/images/rss%20icon.png" class="b p-2" alt="RSS">
            <img src="../static/images/google+%20icon.png" class="b p-2" alt="Google+">
        </div>
        <div class="col-md-2">
            <h6 class="p-3 text-white">Facebook</h6>
            <h6 class="p-3 text-white">Twitter</h6>
            <h6 class="p-3 text-white">RSS</h6>
            <h6 class="p-3 text-white">Google+</h6>
        </div>

    </div>
</div>
<div class="z bg-white align-items-center pt-3">
<p class="text-center text-dark">Copyright@2023.All rights preserver for Web Design</p>
</div>



</body>
</html>