<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <!--    Start of JS connection-->
  <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
  <script src="../static/bootstrap/js/popper.min.js"></script>
  <script src="../static/bootstrap/js/bootstrap.js"></script>
  <!--    End of JS connection-->
  <!--    Start of css connection-->
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/bootstrap/css/custom.css">
  <!--    End of css connection-->
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="index.html">eMobilis Coding School</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">GALLERY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="register.html">REGISTER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LOGIN</a>
        </li>
      </ul>
    </div>
  </nav>
<section class="bg-danger p-2">
  <img class="y" src="../static/images/oranges-1995056__340.jpg" alt="Oranges">
</section>
<section class="bg-secondary p-2">
  <img class="y" src="../static/images/strawberries-2960533__340.jpg" alt="Strawberries">
</section>
<section class="bg-info p-2">
  <img class="y" src="../static/images/apples-1776744__340.jpg" alt="Apples">
</section>
</body>
</html>