<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paypal</title>
    <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
  <script src="../static/bootstrap/js/popper.min.js"></script>
  <script src="../static/bootstrap/js/bootstrap.js"></script>
  <!--    End of JS connection-->
  <!--    Start of css connection-->
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/bootstrap/css/custom.css">
  <!--    End of css connection-->
</head>
<body>
<section class="sec-one">
    <!--Start of navigation section-->
<nav class="navbar navbar-expand-sm bg-transparent navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand pl-4" href="#">Paypal</a>

  <!-- Links -->
  <ul class="navbar-nav">


    <!-- Dropdown -->
    <li class="row nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop1" data-toggle="PERSONAL">
        Dropdown link
      </a>
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="BUSINESS">
        Dropdown link
      </a>
      <button class="but-one text-white">PARTNERS AND DEVELOPERS</button>
      <button class="but-two text-white">Login</button>
      <button class="but-three">Sign up</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>
  </ul>
</nav>
  <hr>
<!--End of navigation section-->
  <section class="row">
    <div class="col-md-3"></div>
    <div class="pt-5 div-one col-md-3">
    <h3 class="text-white text-center">Personal</h3>
    <p class="text-white text-center">Shop on millions of websites and send money to friends and family.</p>
    <button class="text-info">Get started</button>
  </div>
  <div class="pt-5 div-two col-md-3">
    <h3 class="text-white text-center">Business</h3>
    <p class="text-white text-center">Start accepting all kinds of payments with one Paypal business account.</p>
     <button class="text-info">Get started</button>
  </div>
    <div class="col-md-3"></div>
  </section>
</section>
<div class="div-four">
  <h5 class="text-center text-muted pt-3">Paypal is for everyone who pays or gets paid</h5>
</div>
<section class="row sec-two">
  <div class="col-md-2"></div>
  <div class="div-three col-md-2">
    <img src="../static/images/oranges-1995056__340.jpg" class="mx-auto d-block pt-3" alt="oranges">
    <h6 class="text-center text-muted">Individuals</h6>
    <p class="text-center text-dark">Find out why over 20 million UK shoppers use Paypal each year.</p>
    <button class="text-info">Get started</button>
  </div>
  <div class="div-three col-md-2">
    <img src="../static/images/strawberries-2960533__340.jpg" class="mx-auto d-block pt-3" alt="strawberries">
    <h6 class="text-center text-muted">Businesses</h6>
    <p class="text-center text-dark">Join 7 million businesses around the world offering Paypal.</p>
    <button class="text-info">Get started</button>
  </div>
  <div class=" div-three col-md-2">
    <img src="../static/images/apples-1776744__340.jpg" class="mx-auto d-block pt-3" alt="apples">
    <h6 class="text-center text-muted">Partners and devlopers</h6>
    <p class="justify-content-center text-dark">Work with Paypal to offer your customers world class payment solutions.</p>
    <button class="text-info">Get started</button>
  </div>
  <div class="div-three col-md-2">
     <img src="../static/images/oranges-1995056__340.jpg" class="mx-auto d-block pt-3" alt="oranges">
    <h6 class="text-center text-muted form-control-sm">Charities and not-for-profits</h6>
    <p class="text-center text-dark">Discover how Paypal can offer your not-for-profit organisation.</p>
    <button class="text-info">Get started</button>
  </div>
  <div class="col-md-2"></div>
</section>

</body>
</html>